*
{
    font-family: 'Titillium Web', sans-serif;
    color: #f1f1f1;
}

#titulo
{
    background-color: rgb(0, 0, 0);
    margin: auto;
    text-align:center;
    border: 5px solid rgb(255, 255, 255);
    width: 500px;
    height: 50px;
    padding: 30px;  
}

body
{
    background-color: rgb(67, 67, 67);
}

#content
{
    display: flex;
    justify-content: space-between;
}
#area
{
    display: inline-block;
    border: 5px solid rgb(255, 255, 255);
    width: 458px;
    height: 458px;
    background-color: black;
}

#zrow
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

#zrow > div 
{
    background-color: #000000;
    border-left: 0.2px solid black;
    border-bottom: 0.5px solid black;
    width: 50px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

#zerorow
{
    float: left;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    justify-content: left;
}

#zerorow > div
{
    background-color: #000000;
    border-top: 0.2px solid black;
    border-right: 0.5px solid black;
    width: 50px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

#tablero
{
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0);
    transform: scaleX(-1);
}

.black
{
    width: 47px;
    height: 47px;
    background-color: rgb(194, 151, 51);
}

.white
{
    width: 47px;
    height: 47px;
    background-color: rgb(255, 255, 255);
}

.circulo1
{
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 300px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(77, 77, 77);
}

.circulo2
{
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 300px;
    background-color: rgb(61, 61, 61);
    border: 2px solid rgb(0, 0, 0);
}

#left
{
    float:left;
}
#right
{
    float: right;
}

#tableroPRO
{
    display: flex;
    margin: auto;
    justify-content: center;
    border: 4px solid black;
}